<ion-header>
    <ion-navbar color="primary">
  
      <ion-title>
        Contacts 3 A V S
      </ion-title>
  
      <ion-buttons end>
  
        <button ion-button (click)="showMap()">
          <ion-icon name="globe"></ion-icon>&nbsp;Karte
        </button>
  
        <button ion-button (click)="add()">
          <ion-icon name="person-add"></ion-icon>&nbsp;Neu
        </button>
  
      </ion-buttons>
  
    </ion-navbar>
  
    <ion-navbar>
      <ion-input style="background-color:white;" placeholder="Search ..." [(ngModel)]="query">
      </ion-input>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content>


      <virtual-scroll [items]="contacts | search:'name,address':query" 
                      (update)="viewPortItems = $event" 
                      [childWidth]="100"
                      [childHeight]="95">
        <ion-list>
                          
          <div class="list-item" *ngFor="let contact of viewPortItems">
            <!-- {{contact.name}} -->
            <contact-list-item [contact]="contact" (removeClick)="removeClick()">
            </contact-list-item>
          </div>

        </ion-list>
        
      </virtual-scroll>

  </ion-content>
  
  <ion-footer>
    <div class="bottom_bar">
        
        <div class="bottom_info" *ngIf="contacts">
          # {{ contacts.length }}
        </div>
  
        <div class="bottom_info" *ngIf="contacts_total_rows">
            total: {{ contacts_total_rows }}
        </div>
  
        <div class="bottom_info" *ngIf="replication_info">
            {{ replication_info }} %
        </div>
  
        <div class="bottom_info" (click)="clickChangeType()">
          {{typeShort}}
        </div>
      
    </div>
  </ion-footer>