page-home {
    .lsMenuDivider {
        font-size: larger;
    }

    .lsMenu {
        padding-left: 35px;
    }

    .lsSubMenu {
        padding-left: 55px;
    }


    // .toolbar-title-md{
    //     color: white;
    // }

}

