page-app-settings {

    .lsMenuDivider {
        font-size: larger;
    }

    .lsMenu {
        padding-left: 35px;
    }

    .lsSubMenu {
        padding-left: 55px;
    }

    .lsMenuValue {
        font-size: smaller;
        font-weight: lighter;
    }

}
